# Исключаем временные файлы
bin/
obj/
*.user
*.vs
*.log
Properties/

# Исключаем пакеты NuGet
packages/
**/bin/
**/obj/

# Исключаем Docker-образы
.dockerignore
docker-compose.override.yml

# Исключаем IDE-файлы
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Исключаем пользовательские файлы
appsettings.Development.json
secrets.json

# Исключаем локальные конфигурации
.env